.wind-direction-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .wind-direction-circle svg {
        border: 1px solid black;
        border-radius: 50%;
        overflow: visible;
    }

    .wind-direction-circle image {
        transform-origin: center;
    }
