.navbar-expand-lg .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-toggler {
    margin-right: 0.5rem;
}


.navbar-nav {
    flex-grow: 1; 
    justify-content: center;
}

    .navbar-nav .nav-item {
        display: flex;
        align-items: center;
        margin-right: 1rem; 
    }


.nav-item label {
    color: #ffffff; 
    font-size: 1rem; 
    margin-right: 0.5rem;
}


.nav-item select {
    width: 150px;
    font-size: 1rem;
}

.property-container {
    border: 3px solid white;
    padding: 10px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center;
}

.form-check-inline {
    margin-right: 0.5rem; 
}

