.page-container {
    position: relative;
}

.textcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.95;
    z-index: 1;
    max-width: 400px;
    width: 90%;
}
